{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人Blog - 首頁'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <div class="subhead">
      <h2>修改密碼</h2>
    </div>
    <hr>
    <form id="admin_form">
      <div class="form-group">
        <label for="exampleInputPassword1">當前密碼</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">新的密碼</label>
        <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">確認密碼</label>
        <input type="password" class="form-control" id="checkpassword" name="checkpassword" placeholder="">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
    <div class="subhead">
      <h2>註銷帳號</h2>
      <hr>
    </div>
    <div>
      <p>一旦註銷即無法，請警慎操作</p>
      <button class="btn btn-danger">刪除</button>
    </div>
    <hr>
  </div>
</section>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/public/js/admin.js"></script>
{{/block}}