<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/" style="font-size: 25px;">
        Node.js_Blog
      </a>
      <h1>用戶登錄</h1>
    </div>
    <form id="login_form">
      <div class="form-group">
        <label for="">郵箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="">密碼</label>
        <a class="pull-right" href="">忘記密碼？</a>
        <input type="password" class="form-control" id="passowrd" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">記住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登錄</button>
    </form>
    <div class="message">
      <p>沒有帳號? <a href="/register">點擊創建</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    $('#login_form').on('submit', function (e) {
      e.preventDefault();
      const formData = $(this).serialize();
      $.ajax({
        url: '/login',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          if (data.status === 0) {
            window.alert('伺服器忙線中，請稍後再試');
          } else if (data.status === 1) {
            window.alert('登入失敗，請重新再試');
          } else if (data.status === 2) {
            window.alert('登入成功');
            window.location.href = '/';
          };
        }
      });
    })
  </script>
</body>

</html>